---
import PageLayout from '~/components/layouts/PageLayout.astro'
import PageHeader from '~/components/PageHeader.astro'
---

<PageLayout
  title="404"
  description="Whoops! Took a wrong turn and ended up at the 404 page. I'm sorry this happened. But we will get you on the right track again!"
>
  <PageHeader>404 Error</PageHeader>
  <div class="prose max-w-2xl px-4">
    <p>
      Uh oh! Looks like you took a wrong turn and found a dead end! Hate when
      that happens!
    </p>
    <p>Let me show you the <a href="/">way back home.</a></p>
  </div>
</PageLayout>
