---
import ContainerProse from '~/components/ContainerProse.astro'
import LayoutDefault from '~/components/layout/LayoutDefault.astro'
import HeaderPage from '~/components/HeaderPage.astro'
---

<LayoutDefault
  title="404"
  description="Just a bland old error page. Rest assured you will find your way home!"
>
  <div slot="main">
    <HeaderPage>404 Error</HeaderPage>
    <ContainerProse>
      <p>
        Uh oh! Looks like you took a wrong turn and found a dead end! Hate when
        that happens!
      </p>
      <p>Let me show you the <a href="/">way back home.</a></p>
    </ContainerProse>
  </div>
</LayoutDefault>
