---
import BaseLayout from '~/components/layout/BaseLayout.astro'
import PageHeader from '~/components/PageHeader.astro'
---

<BaseLayout
  title="404"
  description="Just a bland old error page. Rest assured you will find your way home!"
>
  <div slot="main">
    <PageHeader>404 Error</PageHeader>
    <div class="prose px-4">
      <p>
        Uh oh! Looks like you took a wrong turn and found a dead end! Hate when
        that happens!
      </p>
      <p>Let me show you the <a href="/">way back home.</a></p>
    </div>
  </div>
</BaseLayout>
