---
import PageLayout from '../layouts/PageLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import WritingCard from '../components/WritingCard.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('writing', ({ data }) => {
  if (import.meta.env.DEV) {
    return data
  }
  return data.published === true
}).then((result) => {
  const sorted = result.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  )
  return sorted
})
---

<PageLayout
  title="Writing"
  description="An archive of my musing, ramblings and articles about web development, React, Gatsby, Next.js and more. Everything mini-notes to full length guides. Dig in!"
>
  <PageHeader>Writing</PageHeader>
  <section class="mt-16 max-w-2xl px-4">
    <div class="flex flex-col gap-16">
      {posts.map((post) => <WritingCard post={post} />)}
    </div>
  </section>
</PageLayout>
