---
import BaseLayout from '~/components/layout/BaseLayout.astro'
import HeaderPage from '~/components/HeaderPage.astro'
import CardWriting from '~/components/CardWriting.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('writing', ({ data }) => {
  if (import.meta.env.DEV) {
    return data
  }
  return data.published === true
}).then((result) => {
  const sorted = result.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  )
  return sorted
})
---

<BaseLayout
  title="Writing"
  description="An archive of my musing, ramblings and articles about web development, React, Gatsby, Next.js and more. Everything mini-notes to full length guides. Dig in!"
>
  <div slot="main">
    <HeaderPage>Writing</HeaderPage>
    <section class="mt-16 max-w-prose px-4">
      <div class="flex flex-col gap-16">
        {posts.map((post) => <CardWriting post={post} />)}
      </div>
    </section>
  </div>
</BaseLayout>
