---
import { NAV } from "../lib/constants";
---

<nav
  class="hidden lg:block lg:row-start-1 lg:row-end-2 lg:col-start-1 lg:col-end-3 sticky self-start top-[150px]"
>
  <ul
    class="flex flex-col gap-3 text-xl font-bold uppercase tracking-wide text-zinc-100"
  >
    {
      NAV.map((link) => (
        <li>
          <a
            href={link.href}
            class="hover:text-sky-200 active:text-sky-500 transition-all hover:bg-zinc-800 py-2 pr-4 rounded-r-lg"
          >
            &mdash; {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
