<footer class="mt-40 border-t-2 border-t-sky-900 py-8 px-8 lg:mt-52">
  <div class="flex flex-col justify-between gap-8 lg:flex-row">
    <div class="lg:order-2 lg:w-1/2">
      <p class="text-base italic text-zinc-400">
        In the spirit of reconciliation, I acknowledge that I live, work and
        play on the traditional territories of the Blackfoot Confederacy
        (Siksika, Kainai, Piikani), the Tsuut’ina, the Îyâxe Nakoda Nations, the
        Métis Nation (Region 3), and all people who make their homes in the
        Treaty 7 region of Southern Alberta.
      </p>
    </div>
    <div class="text-base text-zinc-400 lg:order-1 lg:w-1/2 lg:self-end">
      <p>
        © {new Date().getFullYear()}
        Eric Howey -{' '}
        <a href="mailto:eric@erichowey.dev" class="underline"
          >eric@erichowey.dev</a
        >
      </p>
    </div>
  </div>
</footer>
