---
import RootLayout from './RootLayout.astro'
import DesktopHeader from '../components/header/DesktopHeader.astro'
import MobileHeader from '../components/header/MobileHeader.astro'
import DesktopNav from '../components/DesktopNav.astro'
import MobileNav from '../components/MobileNav.astro'
import Footer from '../components/Footer.astro'
import BlogHeader from '../components/BlogHeader.astro'

const { frontmatter } = Astro.props
---

<RootLayout title={frontmatter.title} description={frontmatter.description}>
  <div>
    <DesktopHeader />
    <MobileHeader />
    <MobileNav />
    <div class="mt-36 md:mt-56 lg:mt-60 lg:grid lg:grid-cols-9">
      <DesktopNav />
      <main
        class="md:prose-lg prose relative lg:col-start-3 lg:col-end-10 lg:row-start-1 lg:row-end-2"
      >
        <BlogHeader frontmatter={frontmatter} />
        <div class="max-w-2xl px-4">
          <slot />
        </div>
      </main>
    </div>
  </div>
  <Footer />
</RootLayout>
