---
import { getCollection, type CollectionEntry } from 'astro:content'
import BlogHeader from '~/components/BlogHeader.astro'
import PlaceholderSidebar from '~/components/header/PlaceholderSidebar.astro'
import BaseLayout from '~/components/layout/BaseLayout.astro'

export async function getStaticPaths() {
  const blogEntries = await (
    await getCollection('writing')
  ).filter((post) => {
    if (import.meta.env.DEV) {
      return post
    }
    if (post.data.published === true) {
      return post
    }
  })
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

interface Props {
  entry: CollectionEntry<'writing'>
}

const { entry } = Astro.props
const frontmatter = entry.data
const { Content, headings } = await entry.render()
console.log(Astro.props)
---

<BaseLayout title={'Test'}>
  <div slot="main" class="prose px-4">
    <BlogHeader frontmatter={frontmatter} />
    <Content />
  </div>
  <div slot="aside">
    <PlaceholderSidebar />
  </div>
</BaseLayout>
