---
import { getCollection, type CollectionEntry } from 'astro:content'
import HeaderBlog from '~/components/HeaderBlog.astro'
import ContainerProse from '~/components/ContainerProse.astro'
import BaseLayout from '~/components/layout/BaseLayout.astro'

export async function getStaticPaths() {
  const blogEntries = await (
    await getCollection('writing')
  ).filter((post) => {
    if (import.meta.env.DEV) {
      return post
    }
    if (post.data.published === true) {
      return post
    }
  })
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

interface Props {
  entry: CollectionEntry<'writing'>
}

const { entry } = Astro.props
const frontmatter = entry.data
const { Content, headings } = await entry.render()
---

<BaseLayout title={frontmatter.title}>
  <div slot="main">
    <ContainerProse>
      <HeaderBlog frontmatter={frontmatter} />
      <Content />
    </ContainerProse>
  </div>
  <div slot="aside"></div>
</BaseLayout>
